<%= simple_form_for [:admin, @market], namespace: 'admin' do |f| %>
  <%= f.error_notification %>

  <%= f.input :title, required: true %>
  <%= f.input :category, required: true %>
  <%= f.input :subcategory %>
  <%= f.input :image_url %>

  <div class="row">
    <%= f.simple_fields_for :outcomes do |ff| %>
      <div class="col-6">
        <%= ff.input :id, as: :hidden %>
        <%= ff.input :title, required: true, label: "Outcome Title" %>
      </div>
    <% end %>
  </div>

  <%= f.button :submit, class: "btn-primary" %>
<% end %>
