<h2>Markets</h2>

<div class="mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Closes At</th>
        <th scope="col">Category</th>
        <th scope="col">State</th>
        <th scope="col">Published?</th>
        <th scope="col" class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @markets.each do |market| %>
        <% state_badge =
          case market.state
          when 'open'
            'info'
          when 'closed'
            'warning'
          when 'resolved'
            'success'
          end
        %>
        <tr>
          <td><%= image_tag(market.image_url, width: 50) if market.image_url.present? %></td>
          <td><%= market.title %></td>
          <td><%= market.expires_at&.to_date&.to_s %></td>
          <td><%= market.category %></td>
          <td>
            <% if market.resolved? %>
              <span class="badge badge-<%= state_badge %>" data-toggle="tooltip" data-placement="top" title="Outcome: <%= market.resolved_outcome&.title %>"><%= market.state %></span>
            <% else %>
              <span class="badge badge-<%= state_badge %>"><%= market.state %></span>
            <% end %>
          </td>
          <td>
            <% if market.eth_market_id  %>
              <%= link_to 'Yes', polkamarkets_web_market_url(market.slug), target: '_blank' %>
            <% else %>
              No
            <% end %>
          </td>
          <td class="d-flex justify-content-end">
            <% if market.eth_market_id && market.closed? && !market.resolved? %>
              <%= link_to 'Resolve', '#', class: "btn btn-warning mr-1 btn-bepro-resolve", data: { eth_market_id: market.eth_market_id, market_id: market.id } %>
              <%= link_to 'Answer', '#', class: "btn btn-warning mr-1", data: { toggle: "modal", target: "#modal-resolve-#{market.id}" } %>
              <!-- Modal -->
              <div class="modal fade" id="modal-resolve-<%= market.id %>" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Resolve Market</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h3>Choose Outcome</h3>
                      <div class="row justify-content-center my-4">
                        <% market.outcomes.each do |outcome|  %>
                          <button
                            type="button"
                            class="btn btn-primary btn-bepro-answer ml-1 mr-1"
                            data-market-id=<%= market.id %>
                            data-eth-market-id=<%= market.eth_market_id %>
                            data-eth-outcome-id=<%= outcome.eth_market_id %>
                            data-question-id=<%= market.question_id %>
                            data-erc20-amount="1000000000000000000"
                          >
                            <%= outcome.title %></button>
                        <% end %>
                      </div>
                      <p><b>⚠️ WARNING ⚠️</b> This action cannot be undone.</p>
                      <p id="bepro-resolve-confirmation-<%= market.id %>"></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            <% elsif market.eth_market_id.blank? %>
              <%= link_to(
                  'Publish',
                  '#',
                  class: "btn btn-success mr-1 btn-bepro-create",
                  data: {
                    market_id: market.id, # used for db -> eth linking
                    name: market.title,
                    duration: market.expires_at.to_i,
                    oracle_address: Config.ethereum.oracle_address, # TODO: change this
                    outcome1_name: market.outcomes.first.title,
                    outcome2_name: market.outcomes.second.title,
                    eth_amount: 0.1 # TODO: change this
                  }
                )
              %>
              <%= link_to 'Destroy', '#', method: :delete, class: "btn btn-danger mr-1", data: { confirm: "Are you sure? This action cannot be undone." } %>
            <% end %>
            <%= link_to 'Edit', edit_admin_market_path(market.id), class: 'btn btn-primary btn-small' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
